* {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
}

body {
	font-family: Raleway;
	line-height: 1.3;
	background: #f4f4f4;
}

/* Global */

.container {
	width: 90%;
	margin: auto;
	overflow: hidden;
}

.button_1{
  height:38px;
  background: #FBA100;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

.button_1:hover {
	background: #FFFFFF;
	color: #FBA100;
}

.background {
	background: url("IMG_6341.jpg") no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
}

.darker-background {
	background: #6C648B;
}

.submit-button {
	width: 60px;
	height: 15px;
}

/* Weather Conditions */

#weather {
	position: fixed;
	width: 100%;
	text-align: center;
	bottom: 0;
	font-size: 0.75rem;
  	margin: 0 auto;
  	background: rgba(0, 0, 0, 0.90);
  	color: white;
  	overflow: hidden;
  	z-index: 1 !important;
}

#weather div {
	display: inline-block;
	padding-top: 5px;
}

#weather h2 {
	display: block;
	margin-top: 10px;
	font-size: 1.6rem;
}

#weather-conditions {
	width: 80%;
}

#weather-conditions table {
    width: 100%;
    margin-top: 20px;
}

#weather-conditions table th {
	color: white;
	margin: 0;
	font-size: 1rem;
	padding: 0;
	padding-bottom: 5px;
}

#weather-conditions table td {
	font-size: 0.75rem;
	color: white;
}

#weather #x-box {
	float: right;
	border: 1px solid white;
	padding: 2px 7px;
	margin-right: 20px;
	margin-top: 10px;
}

#x-box:hover {
	background-color: white;
	color: black;
}

/* Header */

header {
	color: white;
	padding-top: 30px;
	min-height: 70px;
	 }

header a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.1rem;
}

header .logo {
	float: left;
	margin-top: 1rem;
}

header .logo h1 {
	font-size: 1.5rem;
}

header nav {
	margin-top: 2rem; 
	float: right;
}

header li {
	display: inline;
	padding: 0 1.1rem;
}

header a:hover {
	color: #FBA100;
	font-weight: bold;
}

header .active {
	border-bottom: white 2px solid;
}

/* Section Jumbo */

#jumbo {
	min-height: 300px;
	text-align: center;
	color: white;
	margin-top: 0 !important;
}

#jumbo h1 {
	font-size: 6rem;
	margin-top: 20px;
	margin-bottom: 5px;
}

#jumbo h4 {
	font-size: 1.5rem;
	margin-bottom: 30px;
}

#jumbo h1, h4 {
	font-family: Raleway, sans-serif;
}

#jumbo a {
	text-decoration: none;
	color: white;
}

#jumbo .button {
	background: #FBA100;
	padding: 10px 30px;
	border-radius: 10px;
}

#jumbo .button:hover {
	background: white;
	color: rgba(255, 0, 0, 0.5);
}

#jumbo #splash {
	background: rgba(107,186,167, 0.8);
	margin-top: 50px;
	padding-bottom: 20px;
	width: 100%;
}


/* Section Newsletter */

#newsletter {
	min-height: 75px;
	padding: 30px 30px 0 30px;
}

#newsletter .container {
	width: 75%;
}

#newsletter h1 {
	float: left;
	color: white;
}

#newsletter form {
	float: right;
}

#newsletter input[type="email"] {
	padding: 4px;
	height: 25px;
	width: 250px;
}

/*Section Main */

#main {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

#main #main-col {
	float: left;
	width: 68%;
	margin-right: 2%;
	min-width: 50%;
}

#main #sidebar {
	box-sizing: border-box;
	padding: 10px 5px 10px 15px;
	float: right;
	width: 30%;
}

#main #sidebar #sidebar-message {
	height: 90px;
	width: 90%;
}

/* Section Media */

#media {
	margin-bottom: 20px;
}
#media #slideshow {
	height: 400px;
	background: url('old-strathmere.jpg') no-repeat center center;
	background-size: cover;
}

#media .numbertext {
  color: #f2f2f2;
  font-size: 1.25rem;
  padding: 8px 12px;
  position: relative;
  top: 0;
}

#media #dot-container {
	text-align: center;
}

#media .dot {
	margin: 10px 5px 0px 5px;
	display: inline-block;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background-color: #adadad;
}

#media .active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .8} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .8} 
  to {opacity: 1}
}

/*section Footer */

footer {
	color: white;
	background: rgb(107,186,167);
	text-align: center;
	padding: 20px;
}


/* Media Queries */

@media only screen and (max-width: 970px) {
	#newsletter {
		text-align: center;
		margin: auto;
	}

	#newsletter h1 {
		float: none;
	}

	#newsletter form {
		float: none;
	}
}

@media only screen and (max-width: 790px) {

	/*Header section responsive */
	header {
		text-align: center;
		margin: auto;
	}

	header .logo {
		float: none;
	}

	header h1 {
		float: none;
		display: block;
	}

	header nav {
		float: none;
		display: block;
	}

	/*Jumbo section */

	#jumbo {
		min-height: 200px;
	}

	#jumbo h1 {
		font-size: 4.5rem;
	}

	#jumbo h4 {
		font-size: 1.0rem; 
	}

	/*Main section  */
	#main #main-col {
		float: none;
		width: 100%;
		margin-bottom: 20px;
	}

	#main #sidebar {
		float: none;
		width: 100%;
	}
	#main p {
		font-size: 0.75rem;
	}

	/*Weather section */
	#weather h2 {
		font-size: 1.25rem;
	}

	#weather #weather-conditions {
		margin-top: 0;
		padding-top: 0;
	}

	#weather #weather-conditions th {
		font-size: 0.85rem;
		padding: 0;

	}

	#weather #weather-conditions td {
		font-size: 0.5rem;
	}
} 

@media only screen and (max-width: 560px) {
	
	header a {
		font-size: 1rem;
	}

	header li {
		padding: 0 0.5rem;
	}

	#jumbo h1 {
		font-size: 3.5rem;
	}

	#newsletter h1 {
		margin-bottom: 10px;
	}

	#newsletter h1, #newsletter form {
		float: none;
		text-align: center;
		width: 100%;
	}

	#newsletter form input[type="email"] {
		width: 100%;
		margin-bottom: 5px;
	}

	#newsletter button {
		display: block;
		width: 100%;
		text-align: center;
		padding: 0;
		margin-bottom: 10px;
	}
}

@media only screen and (max-width: 406px) {
	header a {
		font-size: 0.75rem;
	}
}