* {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
}

body {
	font-family: Raleway;
	line-height: 1.3;
	background: #f4f4f4;
}

/* Global */

.container {
	width: 90%;
	margin: auto;
	overflow: hidden;
}

.button_1{
  height:38px;
  background: #FBA100;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

.button_1:hover {
	background: #FFFFFF;
	color: #FBA100;
}

.background {
	background: url("../IMG_6341.jpg") no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
}

.darker-background {
	background: #6C648B;
}

.submit-button {
	width: 60px;
	height: 15px;
}

/* Header */

header {
	color: white;
	padding-top: 30px;
	min-height: 70px;
	 }

header a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.1rem;
}

header .logo {
	float: left;
	margin-top: 1rem;
}

header .logo h1 {
	font-size: 1.5rem;
}

header nav {
	margin-top: 2rem;
	float: right;
}

header li {
	display: inline;
	padding: 0 1.1rem;
}

header a:hover {
	color: #FBA100;
	font-weight: bold;
}

header .active {
	border-bottom: white 2px solid;
}


/*Section Main */

#main {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

#main #main-col {
	float: left;
	width: 68%;
	margin-right: 2%;
	min-width: 50%;
}

#main #sidebar {
	box-sizing: border-box;
	padding: 10px 5px 10px 15px;
	float: right;
	width: 30%;
}

#main #sidebar #sidebar-message {
	height: 90px;
	width: 90%;
}

/*section Footer */

footer {
	color: white;
	background: rgb(107,186,167);
	text-align: center;
	padding: 20px;
}
